{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'ultimate_ladder/style.css' %}">

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <style type="text/css" class="init">
      
    </style>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <title>Ultimate ultimate_ladder</title>
  </head>
  <body>
      <header class="header">
          <div class="container">
	      {% if user.is_authenticated %}
              <a href="{%url 'ultimate_ladder:index' user %}" class="logo">Home</a>
	      <nav class="nav">
		  <a href="{% url 'ultimate_ladder:leagues' user %}">Leagues</a>
		  <a href="{% url 'ultimate_ladder:players' user %}">Players</a>
	      </nav>
	      <nav>
		  User: {{ user.get_username }}
		  <a href="{% url 'ultimate_ladder:logout' %}?next={{ request.path }}">Logout</a>
	      </nav>
	      {% else %}
	      <a href="{% url 'ultimate_ladder:login' %}?next={{ request.path }}" class="logo">Home</a>
	      <nav class="nav">
	      </nav>
	      <nav>
		<a href="{% url 'ultimate_ladder:login' %}?next={{ request.path }}">Login</a>
	      </nav>
		  {% endif %}
	  </div>
      </header>
      <main>
	  <div class="container">
	      {% if messages %}
	      <div class="messages">
		  {% for message in messages %}
		  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
		      {{ message }}
		  </div>
		  {% endfor %}
	      </div>
	      {% endif %}
	      
	      {%block content%} 
	      {%endblock content%}
	  </div>
      </main>

      <footer class="footer">
	{% if user.is_authenticated %}
          <div class="container">
	    <a href="{% url 'ultimate_ladder:add-league' user %}" class="logo">Create League</a>
	    <a href="{% url 'ultimate_ladder:add-player' user %}" class="logo">Create Player</a>
          </div>
	  {% endif %}
      </footer>

  </body>
</html>
